.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
    font-weight: bold;
}

/* Styling for the search form */
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    max-width: 500px;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-form input {
    width: 80%; /* Input takes 80% of the form width */
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-form input:focus {
    outline: none;
    border-color: #de7d73;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #de7d73;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

.search-form button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
